<div class="dashboard-menu-container">
  <div class="dashboard-menu">
    <%= link_to(dashboard_bookings_path) do%>
      <div class="dashboard-menu-item">
        <p>My Bookings</p>
      </div>
    <% end %>
    <%= link_to("#") do%>
      <div class="dashboard-menu-item">
        <p>My Bars</p>
      </div>
    <% end %>
  </div>
</div>
