<footer>
  <div class="footer-container">
    <div class="row">
      <div class="col footer-col text-center">
        <h3 class="footer-col-title">PARTICULIER</h3>
        <ul class="list-unstyled">
          <li>Aide & F.A.Q</li>
          <li>Connexion à votre dashboard</li>
        </ul>
      </div>
      <div class="col footer-col text-center">
        <h3 class="footer-col-title">PARTENAIRES</h3>
        <ul class="list-unstyled">
          <li>Ajouter votre bar</li>
          <li>Connexion à votre dashboard</li>
        </ul>
      </div>
      <div class="col footer-col text-center">
        <h3 class="footer-col-title">BARBNB</h3>
        <ul class="list-unstyled">
          <li>A propos</li>
          <li>Recrutement</li>
        </ul>
      </div>
      <div class="col footer-col text-center">
        <h3 class="footer-col-title">CONTACT</h3>
        <ul class="list-unstyled">
          <li class="pl-md-4"><i class="ion-ios-telephone"></i>01 23 45 67 89</li>
          <li class="pl-md-4"><i class="ion-email"></i>hello@barbnb.com</li>
          <i class="fab fa-facebook"></i><i class="fab fa-google-plus"></i><i class="fab fa-twitter"></i><i class="fab fa-linkedin"></i>
        </ul>
      </div>
    </div>
  </div>
</footer>
