.bar-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.reviews-container {
  width: 654px;
}

.bar-details {
  margin-right: 80px;
  margin-top: 10px;
  padding: 10px;

  .bar-name {
    align-items: center;
    display: flex;

    .average-rating {
      color: $myPurple;
      margin-bottom: 17px;
      margin-left: 8px;
    }
  }

  h1 {
    font-weight: bold;
    margin-bottom: 20px;
  }

  h5 {
    display: flex;
    margin-bottom: 20px;

    div {
      margin-right: 16px;
    }
  }

  p {
    margin-top: 20px;
  }
}

.bar-description {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;

  label {
    color: #myPurple;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 300;
    line-height: 0.75em;
    padding: 0.5rem 0;
    text-align: center;
  }

  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-bottom: 1px solid $myPurple;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease-in-out;
    width: 100%;

    &:hover,
    &:focus {
      border-bottom: 1px solid $myPurple;
    }

    &:checked {
      border-bottom: 2px solid $myPurple;

      + div {
        opacity: 1;
      }
    }

    + div {
      display: block;
      opacity: 0;
      padding: 0.5rem 0;
      transition: all 0.3s ease-in-out;
      width: 90%;
    }
  }

  .tabs {
    width: 50%;

    input + div {
      margin-left: 200%;
      width: 200%;
    }

    input:checked + div {
      margin-left: 0;
    }

    &:last-child input + div {
      margin-left: 100%;
    }

    &:last-child input:checked + div {
      margin-left: -100%;
    }
  }
}

.bar-booking-container {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.bar-booking {
  background-color: $myWhite;
  border-radius: 8px;
  box-shadow: 2px 2px 20px 7px $shadow12;
  display: flex;
  flex-direction: column;
  margin-top: -175px;
  padding: 20px 24px 12px;
  width: 100%;

  .booking-form {
    margin-bottom: 8px;
  }

  #guest-count {
    align-items: center;
    display: flex;
    margin-bottom: 8px;
    margin-top: -8px;

    > * {
      margin: 0 8px;
    }

    .count-button {
      &.disabled {
        color: grey;
      }
    }

    > input {
      text-align: center;
      width: 50px;
    }
  }
}

.time-date-pickers {
  visibility: collapse;

  > input {
    position: absolute;
  }

  .first-timer-child {
    margin-top: 2px;
    width: 29%;
  }

  .second-timer-child {
    margin-top: 2px;
    width: 29%;
  }

  #timers {
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    > input {
      position: absolute;
    }

    .de-a {
      padding-top: 5px;
      visibility: visible;
    }
  }
}

.bar-calendar {
  height: 224px;
  margin-bottom: 20px;
}
