.bar-details {
  width: 70%;
  margin-top: 10px;
  padding: 10px;
}

.bar-booking {
  border: 1px solid black;
  width: 30%;
  margin-top: 10px;
  padding: 10px
}

.bar-calendar {
  margin: 10px;
  border: 1px solid black;
  height: 224px;
}
