.bar-container {
  position: relative;
}

.bar-details {
  width: 70%;
  margin-top: 10px;
  padding: 10px;
  margin-right: 80px;

  h1 {
    margin-bottom: 20px;
  }

  h5 {
    margin-bottom: 20px;
  }

  p {
    margin-top: 20px;
  }
}

.bar-booking-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.bar-booking {
  border-radius: 8px;
  width: 100%;
  margin-top: -50px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  background-color: $myWhite;
  box-shadow: 2px 2px 20px 7px $shadow12;

  #guest-count {
    display: flex;
    align-items: center;
    // justify-content: center; Removed for presentation

    & > * {
      margin: 0 8px;
    }

    .count-button {
      &.disabled {
        color: grey;
      }
    }

    & > input {
      width: 50px;
      text-align: center;
    }
  }
}

.bar-calendar {
  height: 224px;
  margin-bottom: 20px;
}

// For presentation
#Remove-after-pres {
  input {
    opacity: 0;
  }
}
