.booking-show > .container > .left-side {
  width: 50%;
  padding: 0px 20px;
  margin-top: 50px;
}

.bar-infos {
  border-radius: 8px;
  margin-top: 50px;
  width: 45%;
  box-shadow: 2px 2px 20px 7px $shadow12;
  overflow: hidden;
  position: relative;
}

.bar-photo {
  width: 100%;
  height: 250px;
}

.bar-text {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }
}

.bar-address {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h5 {
    margin: 0
  }
}

.fas.fa-directions {
  font-size: 32px;
}

.your-review {
  box-shadow: 2px 2px 20px 7px $shadow12;
  border-radius: 8px;
  width: 100%;
  padding: 20px;

  .your-review-content {
    font-size: 24px;
    margin-top: 16px;
  }
}

.booking-show .red {
  color: red;
}

.status-tag {
  background-color: #04e789;
  border-radius: 4px;
  width: 90px;
  padding: 2px;
  text-align: center;
  border: 0.5px solid white;

  &.tag-red {
    background-color: #a10000;
    color: white;
  }

  &.tag-blue {
    background-color: #004fa1;
    color: white;
  }
}

.status-tag-left {
  font-size: 12px;
  top: 10px;
  left: 10px;
  position: absolute;
}

.status-tag-right {
  font-size: 14px;
  top: 10px;
  right: 10px;
  position: absolute;
}
