.booking-show > .container > .left-side {
  width: 60%;
}

.bar-infos {
  border-radius: 8px;
  padding: 30px;
  margin-top: 50px;
  width: 40%;
  display: flex;
  box-shadow: 2px 2px 20px 7px $shadow12;
}
