// Specific CSS for your home-page
.home-description {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;

  .home-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-items: center;
    margin-top: 56px;
    width: 100%;
  }
}

.home-top-bars {
  display: grid;
  grid-template-rows: 340px 60px auto;
  margin-top: 64px;

  .top-bars-header {
    align-items: center;
    background-image: linear-gradient($shadow40, $shadow40),
      image-url("top-bars.jpg");
    background-position: center;
    background-size: cover;
    color: $myWhite;
    display: flex;
    font-weight: bold;
    grid-area: 1 / 1 / 3 / 2;
    height: 400px;
    justify-content: center;
  }

  .top-bars-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    grid-area: 2 / 1 / 4 / 2;
    justify-content: space-evenly;
    z-index: 100;
  }
}
