<% raise %>
<% if bar.average_rating %>
  <% bar.average_rating.floor.times do %>
    <i class="fas fa-star" style="font-size: 24px;"></i>
  <% end %>
  <% if bar.average_rating % 1 > 0 %>
    <% if bar.average_rating % 1 < 0.25 %>
      <i class="fas fa-star" style="font-size: 24px;"></i>
    <% elsif bar.average_rating % 1 > 0.75 %>
      <i class="far fa-star" style="font-size: 24px;"></i>
    <% else %>
      <i class="fas fa-star- half-alt" style="font-size: 24px;"></i>
    <% end %>
  <% end %>
  <% (5 - bar.average_rating.ceil).times do %>
    <i class="far fa-star" style="font-size: 24px;"></i>
  <% end %>
<% else %>
  <p>Pas encore d'évaluation</p>
<% end %>
