<div class="bars-index">
  <div class="cards-bar row d-flex">
    <div class="col-7 d-flex justify-content-center flex-wrap">
      <% @bars.each do |bar| %>
        <div class="card-bar-info col-4 m-5">
          <%= render "components/bar_card", bar: bar %>
        </div>
      <% end %>
    </div>
    <div id="map" class="col-5 sticky-top sticky-offset p-0"
     style="width: 100%;
     height: 700px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
  </div>
</div>
