<% if @bookings.first.is_a? Booking %>
  <div class="dashboard">
    <%= render "components/dashboard_menu" %>
    <div class="dashboard-content">
      <div class="bookings-content">
        <h1>Mes réservations</h1>
        <%= render "bookings_list", bookings: @bookings %>
      </div>
    </div>
  </div>
<% else %>
  <%= render "components/dashboard_menu" %>
  <div class="empty-container">
    <h1>Vous n'avez pas encore de booking !</h1>
  </div>
<% end %>
