<div class="dashboard">
  <%= render "components/dashboard_menu" %>
  <div class="dashboard-content">
    User bookings:

    <ul>
    <% 100.times do %>
      <% @user_bookings.each do |booking| %>
        <li><%= booking.id %></li>
      <% end %>
    <% end %>
    </ul>

    User bars:

    <ul>
    <% @user_bars.each do |bar| %>
      <%= bar.name %>
      <% bar.bookings.each do |booking| %>
        <ul>
          <li><%= booking.id %></li>
        </ul>
      <% end %>
    <% end %>
    </ul>

  </div>
</div>

