<div class="dashboard">
  <%= render "components/dashboard_menu" %>
  <div class="dashboard-content">
    <div class="bookings-content">
      <h1><%= @bookings.first.bar.name %></h1>
      <h2>Détails des réservations</h2>
      <%= render "bookings_list", bookings: @bookings %>
    </div>
  </div>
</div>
