<div class="booking-show">
  <div class="container d-flex">
    <div class="left-side">
    </div>
    <div class="bar-infos">
      <div class="bar-photo" style="background-image: url(<%= cl_image_path @bar.photos.first.key %>);">
      </div>
      <div class="bar-text">
      </div>
    </div>
  </div>
</div>
