<div class="home-container">
  <h2 class="text-center">Organiser une soirée entre amis n’a jamais été aussi simple</h2>
  <br>
  <div class="row">
    <div class="home-cards d-flex">
      <%= render("components/home/home_card",
                 image: "cocktail.png",
                 title: "Une offre exhaustive",
                 description: "Dénichez le bar idéal pour votre événement parmi nos 778 bars partenaires",
                 color: "purple"
                )
      %>
      <%= render("components/home/home_card",
                 image: "hourglass.png",
                 title: "Une réservation simple et rapide",
                 description: "Réservez en quelques clics le bar de vos rêves pour votre événement",
                 color: "yellow"
                )
      %>
      <%= render("components/home/home_card",
                 image: "money.png",
                 title: "Un service entièrement gratuit",
                 description: "Résezvez votre bar pour le coût de votre première consommation et bénéficiez des meilleurs tarifs, sans coût supplémentaire !",
                 color: "green"
                )
      %>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<div class="top-bars-header">
  <div class="top-bars-header-img"></div>
  <h2 class="text-center">Notre top 3 des bars sur Paris</h2>
</div>
<div class="row top-bars-cards justify-content-center">
  <% @top_bars.each do |bar| %>
    <div class="card-bar-info col-3 m-4">
      <%= render "components/bar_card", bar: bar %>
    </div>
  <% end %>
</div>
