<div class="home-description">
  <h2>Organiser une soirée entre amis n’a jamais été aussi simple</h2>
  <div class="home-cards">
    <%= render("components/home/home_card",
                image: "cocktail.png",
                title: "Une offre exhaustive",
                description: "Dénichez le bar idéal pour votre événement parmi nos 778 bars partenaires",
                color: "purple"
              )
    %>
    <%= render("components/home/home_card",
                image: "hourglass.png",
                title: "Une réservation simple et rapide",
                description: "Réservez en quelques clics le bar de vos rêves pour votre événement",
                color: "yellow"
              )
    %>
    <%= render("components/home/home_card",
                image: "money.png",
                title: "Un service entièrement gratuit",
                description: "Réservez votre bar pour le prix de votre première consommation et bénéficiez des meilleurs tarifs, sans coût supplémentaire !",
                color: "green"
              )
    %>
  </div> <!-- End home-cards -->
</div> <!-- End home-description -->

<div class="home-top-bars">
  <div class="top-bars-header">
    <h2>Notre top 3 des bars sur Paris</h2>
  </div> <!-- End top-bars-header -->

  <div class="top-bars-cards">
    <% @top_bars.each do |bar| %>
      <%= render "components/bar_card", bar: bar %>
    <% end %>
  </div> <!-- End top-bars-cards -->
</div> <!-- End home-top-bars -->
