.btn {
  line-height: 31px;
  position: relative;
  padding: 5px 22px;
  border: 0;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important;
  transition: 0.2s ease-out;
}

.btn.search-button {
  height: 32px;
  padding: 0 22px;
}

.btn i,
.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}

.btn .badge {
  margin-left: 7px;
}

.z-depth-1,
.btn,
.btn-floating {
  box-shadow: 0 2px 5px 0 $shadow16, 0 2px 10px 0 $shadow16;
}

.z-depth-1-half,
.btn:hover,
.btn-floating:hover {
  box-shadow: 0 5px 11px 0 $shadow18, 0 4px 15px 0 $shadow15;
}

.btn-default {
  color: $myWhite;
  background-color: $myPurple;
}

.btn-default:hover,
.btn-default:focus {
  background-color: $myLighterPurple !important;
  color: $myWhite !important;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: $shadow20;
  transition: all 0.7s ease-out;
  transition-property: transform, opacity;
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: $light45;
}

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1;
}

.ap-input, .ap-hint {
  width: 100%;
  padding-right: 35px;
  padding-left: 16px;
  // line-height: 40px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  font: inherit;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 40px;
}

.algolia-places {
  width: 395px;
  height: 40px;
  margin-top: inherit;
}

// .search-input {
//   margin-top: 4px;
// }

.ap-icon-pin {
  margin-top: 4px;
  display: none;
}
