.cards-bar {
  padding: 0;
}

.card-bar-info {
  border-radius: 8px;
  box-shadow: 2px 2px 20px 7px $shadow12;
  overflow: hidden;
  background-color: white;

  .card-photo {
    height: 175px;
    width: 100%;
    margin-bottom: 10px;
  }

  .card-details {
    padding: 10px;
  }
}

.card-details {
  padding: 10px;

  .card-details-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;

    h4 {
      margin: 0
    }

    p {
      margin: 0
    }

    .bar-price {
      text-align: center;
      margin-right: 10px;
      border: 2px solid $myBlack;
      border-radius: 4px;
      padding: 2px 10px;
    }
  }

  .bar-ratings {
    margin-bottom: 10px;
  }
}

.card-details-head {
  .bar-distance {
    color: #959595;
    width: 25%;
    text-align: right;
  }
}

.card-bar-info.col-5 {
  padding: 0;
}

.card-bar-info.col-3 {
  padding: 0;
}

.bars-index > .col-5 {
  padding: 0;
}

.bars-index-header {
  padding-top: 50px;
  margin-bottom: 20px;
}
