.slick-next {
  right: 40px !important;
  z-index: 25;
}
.slick-next::before {
  color: white !important;
}

.slick-prev {
  left: 40px !important;
  z-index: 26;
}

.slick-prev::before {
  color: white !important;
}

.slick-slide {
  border-right: 8px solid white;
}
