$dashboardMenuWidth: 300px;

.dashboard {
  display: flex;
}

.dashboard-menu-container {
  width: $dashboardMenuWidth;
  height: 100%;
  position: fixed;

  .active {
    border-bottom: solid $myPurple 1px;
    border-top: solid $myPurple 1px;
    color: $myPurple;
    margin: 10px 16px;
    padding: 2px 4px;
  }
}

.dashboard-content {
  padding-left: calc(#{$dashboardMenuWidth} + 60px);
  width: 100%;
}

.dashboard-menu {
  margin: 20px;
  margin-left: 60px;
  max-height: calc(100vh - #{$navbarHeight} - 40px);
  border-radius: 8px;
  box-shadow: 2px 2px 20px 7px $shadow12;
  padding: 20px 0;

  a {
    text-decoration: none;
  }
}

.dashboard-menu-item {
  padding: 12px 20px;
  text-decoration: none;
  color: $myBlack;

  &:hover {
    color: $myWhite;
    background: $myPurple;
  }

  &.active:hover {
    color: $myPurple;
    background: $myWhite;
  }

  p {
    margin: 0;
  }
}
