.dashbord-onliner-link {
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $myBlack;
    text-decoration: none;
  }
}

.dashboard-oneliner-card {
  align-items: center;
  box-shadow: 2px 2px 20px 7px $shadow12;
  display: flex;
  justify-content: space-evenly;
  margin: 8px 140px;

  > a {
    align-items: center;
    color: $myPurple;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    text-decoration: none;
    width: 130px;
  }
}

.dashboard-oneliner-card-details {
  padding: 8px 0;
  width: calc(100% - 190px - 260px);

  .booking-dates {
    display: flex;
    justify-content: space-evenly;
  }
}

.dashboard-oneliner-card-booking-guests {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  width: 130px;

  p {
    margin: 0;
  }
}
