.footer {
  margin-top: 40px;
  background-color: $myBlack;
  margin: 0px auto;
  padding: 30px;

  .footer-col {
    margin: 20px;
  }

  .footer-col-title {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    margin: 0 0 30px;
    font-size: 14px !important;
    font-weight: 600;
  }

  .footer-col li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    position: relative;
    font-weight: 500;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  i li {
    color: white;
  }

  i {
    color: white;
    margin: 5px;
  }

  .copyright {
    font-size: 11px;
    margin-bottom: 5px;
    color: #ffffff !important;
  }

  .footer-menu a {
    color: rgba(255, 255, 255, 0.4);
    font-size: 11px;
    font-weight: 600;
  }
}
