.footer {
  background-color: $myBlack;
  color: $myWhite;
  margin: 40px auto 0;
  padding: 8px 0;
  text-align: center;

  section {
    margin: 20px;

    ul {
      list-style: none;
    }

    li {
      color: $myWhite;
      border-bottom: 1px solid $light20;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }

  a {
    color: $myWhite;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $myWhite;
      outline: none;
      text-decoration: none;
    }
  }

  i {
    color: $myWhite;
    margin: 0 8px 0 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer-title {
    color: $light45;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 30px;
    text-transform: uppercase;
  }

  .footer-copyright {
    color: $myWhite;
    font-size: 11px;
    margin-bottom: 5px;
    text-align: left;

    a {
      color: $light45;
      font-size: 11px;
      font-weight: 600;
    }
  }
}
