/* Navbar section */
$navbarHeight: 65px;

.page-content {
  padding-top: $navbarHeight;
}

.custom-nav {
  width: 100%;
  height: $navbarHeight;
  position: fixed;
  line-height: $navbarHeight;
  text-align: center;

  .logo {
    float: left;
    width: auto;
    padding-left: 30px;
    height: $navbarHeight;
    display: flex;
    align-items: center;

    img {
      height: $navbarHeight - 10;
    }

    a {
      text-decoration: none;
    }
  }

  .main_list {
    height: 65px;
    float: right;

    ul {
      width: 100%;
      height: 65px;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: auto;
        height: 65px;
        padding: 0;
        padding-right: 30px;

        a {
          text-decoration: none;
          text-shadow: 1px 1px 3px $shadow20;
          line-height: 65px;
          font-size: 24px;
        }
      }
    }
  }
}

/* Specific colors */
.custom-nav {
  &.dark {
    .logo {
      a:hover {
        color: $myGreen;
      }
    }

    .main_list {
      ul {
        li {
          a {
            color: $myWhite;
            &:hover {
              color: $myGreen;
            }
          }
        }
      }
    }
  }

  &.light {
    .logo {
      a:hover {
        color: $myRed;
      }
    }

    .main_list {
      ul {
        li {
          a {
            color: $myBlack;
            &:hover {
              color: $myRed;
            }
          }
        }
      }
    }
  }
}

/* Home section */

.home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient($shadow40, $shadow40),
    url(image_path("home.jpg"));
  background-position: center top;
  background-size: cover;
  padding: 0 100px;
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px $shadow20;
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px $shadow20;
  }
}

.navTrigger {
  display: none;
}

.custom-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .navTrigger {
    display: block;
  }

  .custom-nav {
    .logo {
      margin-left: 15px;
    }

    .main_list {
      width: 100%;
      height: 0;
      overflow: hidden;

      ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $myBlack;
        background-position: center top;

        li {
          width: 100%;
          text-align: right;

          a {
            text-align: center;
            width: 100%;
            font-size: 30px;
            padding: 20px;
          }
        }
      }
    }

    .show_list {
      height: auto;
      display: none;
    }

    .media_button {
      display: block;
    }
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;

  i {
    border-radius: 2px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;

    &.dark {
      background-color: $myWhite;
    }

    &.light {
      background-color: $myBlack;
    }

    &:nth-child(1) {
      animation: outT 0.8s backwards;
      animation-direction: reverse;
    }

    &:nth-child(2) {
      margin: 5px 0;
      animation: outM 0.8s backwards;
      animation-direction: reverse;
    }

    &:nth-child(3) {
      animation: outBtm 0.8s backwards;
      animation-direction: reverse;
    }
  }

  &.active {
    i {
      &:nth-child(1) {
        animation: inT 0.8s forwards;
      }

      &:nth-child(2) {
        animation: inM 0.8s forwards;
      }

      &:nth-child(3) {
        animation: inBtm 0.8s forwards;
      }
    }
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  &.dark {
    color: $myWhite;
    background-color: $myBlack;
  }
  &.light {
    color: $myBlack;
    background-color: $myWhite;
  }
}

.myH2 {
  text-align: center;
  font-size: 40px;
}

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}

@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}
