
  .search-form-control {
    height: 4.0rem;
    width: 40rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    border: 1px solid #E7E7E7;
    opacity: 0.8;
  }

  textarea:focus, input:focus{
    outline: none;
}
