.form-component-signin {
  .main-container-signin {
    height: 100vh;
    background-image: linear-gradient($myPurpleOpacity50,$myPurpleOpacity50), url("https://cdn.dribbble.com/users/730703/screenshots/5618311/dtg0j7fwkaa-tyj.jpg-large.jpeg");
    background-size: cover;
    background-position: center;
  }
  .form-component *, .form-component *::before, .form-component *::after {
    box-sizing: border-box;
    line-height: initial;
  }

  .form-new {
    background-color: white;
    top: 20px;
    border-radius: 4px;
  }

  .btn {
    color: #fff;
    background-color: #5C415D;
    border-color: #5C415D;
    border-radius: 4px;
  }

  .my-hint {
   white-space: nowrap !important;
  }

  .link-bottom {
    margin-left: 10px;
    margin-bottom: 0px;
  }
}
